* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    text-decoration: none;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: contain;
}

body {
    background: url(../img/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info-icon-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    margin: 8px;
    z-index: 1;
}

#info-icon {
    opacity: 1;
    height: 32px;
    width: 32px;
    fill: #fff;
    cursor: pointer;
    transition: 0.5s ease;
}

#info-icon.hide {
    opacity: 0;
    transition: 0.5s ease;
}

#info-icon-container::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    height: 0px;
    width: 0px;
    border-radius: 0px 128px 128px 128px;
    background-color: rgba(0, 0, 0, 0.85);
    transition: 0.4s;
    z-index: -1;
}

#info-icon-container:hover::before {
    height: 52px;
    width: 52px;
    border-radius: 0px 0px 50% 0px;
}

#info-icon-container.expand::before {
    height: 100vh;
    width: 100vw;
    border-radius: 0px 0px 0px 0px;
    transition: all 0.8s, 
                border-radius 0.8s 0.5s;
}
#info-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 20%;
    z-index: 0;
    background-color: transparent;
    color: #fff;
    opacity: 0;
    transition: all 0.2s;
    z-index: -1;
}

h1 {
    font-size: 2.5vw;
}

h2 {
    font-size: 1.5vw;
}

#info-container.expand {
    z-index: 2;
    opacity: 1;
    transition: opacity 0.5s ease 0.5s;
}

#accept-btn {
    display: block;
    background-color: transparent;
    color: #fff;
    font-size: 1vw;
    outline: none;
    border: 2px solid #fff;
    border-radius: 2.5vw;
    height: 3vw;
    width: 8vw;
    transition: 0.5s;
    cursor: pointer;
}

#accept-btn:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
}

#timer-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 152px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 100px;
    margin-bottom: 64px;
}

#timer-container span {
    color: #fff;
    font-size: 10vw;
}

#start-btn {
    display: block;
    cursor: pointer;
    background-color:  rgba(0, 0, 0, 0.65);
    color: #fff;
    outline: none;
    border: none;
    height: 48px;
    width: 128px;
    border-radius: 24px;
    font-size: 24px;
    cursor: pointer;
    z-index: 0;
}

#timeIsUp {
    font-size: 6vw !important;
}

@media screen and (max-width: 500px) {
    #timer-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vw;
        width: 50vw;
        background-color: rgba(0, 0, 0, 0.65);
        border-radius: 25vw;
    }
}