* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-info {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 128px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    color: #fff;
    text-align: center;
}

.start-button {
    margin-top: 64px;
    padding: 8px 24px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: 2px solid #fff;
    border-radius: 24px;
    transition: 0.5s;
}

.start-button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}

#game-end {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 128px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    color: #fff;
    text-align: center;
}

#score {
    margin-top: 32px;
}

#score span {
    color: #000;
    font-size: 64px;
    font-weight: 700;
}

#game-field {
    display: grid;
    grid-template-areas: "m1 m2 m3" "m4 m5 m6" "m7 m8 m9";
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    height: 70%;
    width: 50%;
    background-color: cornsilk;
    margin: auto;
    border-radius: 64px;
    cursor: url(../img/hammer.png), auto;
}

.mole-img {
    display: block;
    height: auto;
    width: 100%;
    margin: auto;
}

#timer {
    position: relative;
    height: 48px;
    width: 100%;
    background-color: #fff;
    color: #000;
    z-index: 1;
}

#progress {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    transition: 0.1s linear;
}

#timer span {
    display: block;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    margin: auto;
    text-align: center;
}

/* .timer::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 60%;
    left: 0;
    background-color: cadetblue;
    z-index: 1;
} */