html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Roboto', 'sans-serif';
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    height: 64px;
    width: 100%;
    padding: 0 32px;
    font-size: 32px;
    font-weight: 500;
    color: #DB001B;
    background-color: #0C120C;
    z-index: 2;
}

header img {
    margin-right: 32px;
}

article {
    position: relative;
    display: flex;
    height: calc(100% - 64px);
}

.contacts {
    height: 100%;
    width: 25%;
    background-color: #A99885;
    box-shadow: 5px 0px 5px 0px rgba(34, 60, 80, 0.2);
    z-index: 2;
}

.contact {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px 12px;
    margin-bottom: 8px;
}

.contact:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.contact.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.avatar {
    height: 64px;
    width: 64px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 32px;
}

.avatar img {
    height: auto;
    width: 64px;
}

.name {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 500;
    color: #0C120C;
    text-align: center;
    padding: 0 8px;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    z-index: 1;
    flex: 1 0 auto;
}

.message-input {
    height: 48px;
    width: 90%;
    margin: 16px 0;
    border-radius: 24px;
    background-color:#fff;
    border-style: solid;
    border-width: 2px;
    border-color: #eee;
    order: 1;
}

.message-input input {
    height: 48px;
    width: 100%;
    padding: 8px 24px;
    margin: 0;
    border: none;
    border-radius: 24px;
    caret-color: #999;
}

.message-input input:focus {
    outline: none;
    border: none;
}

#messages-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-height: none;
}

.message {
    align-self: flex-end;
    max-width: 45%;
    padding: 16px;
    margin: 12px 48px;
    color: #E8E9EB;
    border-radius: 16px;
    background-color: #9880A1;
}